* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* deze code zorgt ervoor dat alles in de body gecentreerd staat */
}

header {
  background-color: white;
}

article {
  width: 340px;
  height: 550px;
  box-shadow: 0 20px 40px rgba(30, 20, 15, 0.18);
  display: flex;
  flex-direction: column;
  /*dit zorgt ervoor dat alles binnen dit element onder elkaar valt*/
  overflow: hidden;
  /* dit zorgt ervoor dat alles wat buiten de randen valt verstopt wordt */
}


.front {
  background-color: #f3c9d6;
}

img {
  width: 180%;
  height: 50%;
  object-fit: cover;
  margin-left: -200px;
  /* de foto wordt naar de juiste plek geschoven*/
}

a {
  text-decoration: none;
}

a:visited {
  color: black
}